
<div class="container">
    <div class="row">
        <div class="col-md-12">
  <div class="infobuttons">
  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      When to Use
  </button>
  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Pearls/Pitfalls
    </button>
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
        Why Use
      </button>
      <br><br />
<div class="collapse" id="collapseExample">
  <div class="card card-body1">
      <p i18n>The CURB-65 calculator can be used in the emergency department setting to risk stratify a patient’s community acquired pneumonia.</p>
  </div>
</div>

<div class="collapse" id="collapseExample1">
    <div class="card card-body2">
        <p i18n>The CURB-65 Score includes points for confusion and blood urea nitrogen, which in the acutely ill elderly patient, could be due to a variety of factors. An alternative scoring system, SOAR, circumvents those two parameters. It uses low systolic BP (S) and poor oxygenation (PaO2: FIO2) (O), advancing age (A), high respiratory rate (R).
        CURB-65 does not assign points for co-morbid illness and nursing home residence, as the original study did account for many of these conditions.
        CURB-65 may not identify patients requiring ICU admission as well as the PSI.</p>
      </div>
      </div>
  </div>

    <div class="collapse" id="collapseExample2">
        <div class="card card-body3">
            <p i18n>CURB-65 is fast to compute, requires likely already-available patient information, and provides an excellent risk stratification of community acquired pneumonia. It can facilitate better utilization of resources and treatment initiation.
            In comparison to the PSI, CURB-65 offers equal sensitivity of mortality prediction due to community acquired pneumonia. Notably, CURB-65 (74.6%) has a higher specificity than PSI (52.2%).</p>
        </div>
      </div>
<div class ="container">
        <legend i18n>CURB-65 Score for Pneumonia Severity</legend>

    <h5 i18n>Estimates mortality of community-acquired pneumonia to help determine inpatient vs. outpatient treatment.</h5>

    <app-checkboxes></app-checkboxes>

        <br>



</div>









