<div class="container">
    <div id="yyy">
    <div class="row">
      <div class="col-6 col-sm-6">
          <p i18n>Confusion</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox" id="red" name="color" onclick="checkTotalCheckedBoxes()" checked/>
      </div>
      <div class="col-6 col-sm-6">
          <p i18n>BUN > 19 mg/dL (> 7 mmol/L)</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox" id="blue" name="color" onclick="checkTotalCheckedBoxes()" />
      </div>
      <div class="col-6 col-sm-6">
          <p i18n>Respiratory Rate ≥ 30</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox"  id="yellow" name="color" onclick="checkTotalCheckedBoxes()" />
      </div>
      <div class="col-6 col-sm-6">
          <p i18n>Systolic BP < 90 mmHg or Diastolic BP ≤ 60 mmHg</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox"  id="black" name="color" onclick="checkTotalCheckedBoxes()" checked/>
      </div>
      <div class="col-6 col-sm-6">
          <p i18n>Age ≥ 65</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox" id="white"  name="color" onclick="checkTotalCheckedBoxes()" />
      </div>
    </div>
 </div>
 <br>
            <mat-card class="example-card">
              <mat-card-header>
              <mat-card-title i18n>RESULTS SCORE</mat-card-title>
              </mat-card-header>




              <mat-card-content>

                <div id="checklength"></div>

                <div id="color-div" style="display:none;"></div>

              </mat-card-content>

            </mat-card>
            </div>

            

      


