<div class="container">
    <div id="yyy">
<form>
      <div class="row">
      <div class="col-6 col-sm-6">
          <p i18n>Confusion</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox" id="red" class="btn" name="color" onclick="showChecked"/>
      </div>
      <div class="col-6 col-sm-6">
          <p i18n>BUN > 19 mg/dL (> 7 mmol/L)</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox" id="blue" class="btn" name="color" onclick="showChecked"  />
      </div>
      <div class="col-6 col-sm-6">
          <p i18n>Respiratory Rate ≥ 30</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox"  id="yellow" class="btn" name="color" onclick="showChecked" />
      </div>
      <div class="col-6 col-sm-6">
          <p i18n>Systolic BP < 90 mmHg or Diastolic BP ≤ 60 mmHg</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox"  id="black" class="btn" name="color" onclick="showChecked" >
      </div>
      <div class="col-6 col-sm-6">
          <p i18n>Age ≥ 65</p>
      </div>
      <div class="col-6 col-sm-6">
          <input type="checkbox" id="white" class="btn"  name="color" onclick="showChecked"/>
      </div>
    </div>
  </form>
 <br>
            <mat-card class="example-card">
              <mat-card-header>
              <mat-card-title i18n>RESULTS SCORE</mat-card-title>
              </mat-card-header>




              <mat-card-content>

                <div id="result"><span id="selected">0</span></div>

                <div id="color-div" style="display:none;"></div>

              </mat-card-content>

            </mat-card>
            </div>










